.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.layout__content {
  display: flex;
  flex: 1;
  background-color: rgba(255,0,0,0.1); /* rojo semi-transparente temporal */
}





.layout__page {
  flex: 1;
  padding: 24px;
  overflow-y: auto;
  background: #f5f5f5;
}
